[submodule "external/liburing"]
	path = external/liburing
	url = https://github.com/axboe/liburing.git
[submodule "src/readers/external/external/liburing"]
	path = src/readers/external/external/liburing
	url = https://github.com/axboe/liburing.git
[submodule "src/readers/external/liburing"]
	path = src/readers/external/liburing
	url = https://github.com/axboe/liburing.git
